src/main/resources/xsd/negozio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="negozio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idNegozio" type="xs:int"/>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="luogo" type="xs:string"/>
                <xs:element name="via" type="xs:string"/>
                <xs:element name="numTelefono" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>